.app {
  background-color: #222;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;

  -webkit-user-select: none;

  > * {
    box-sizing: border-box;
  }

  a {
    color: #4ed6ff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: #4ed6ff;
    }
  }

  .app-content {
    @media screen and (min-width: 1350px) {
      flex-direction: row;

      .infobox {
        order: -1;
      }
    }

    @media screen and (max-width: 600px) {
      padding: 0 20px;
    }

    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    text-align: center;

    > * {
      margin-bottom: 3em;
    }
  }
}

figure,
img {
  max-width: 100%;
}

kbd {
  background-color: #e1e3e5;
  border: 1px solid #adb3b9;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(12, 13, 14, .2), 0 0 0 2px #fff inset;
  color: #242729;
  display: inline-block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  line-height: 1.4;
  margin: 0 .1em;
  padding: .1em .6em;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
}

.toggle-button-container {
  background-color: #1b1b1b;
  border-radius: 100%;
  padding: 5px;

  a,
  button {
    background-color: #222;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    outline: 0;
    text-align: center;
    width: 40px;
    height: 40px;

    &:hover,
    &.is-active {
      background-color: #444;
    }
  }
}
