.app {
  background-color: #222;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  -webkit-user-select: none;

  > * {
    box-sizing: border-box;
  }

  a {
    color: #4ed6ff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: #4ed6ff;
    }
  }

  .app-header {
    background-color: #262626;
    border-bottom: 1px solid #1f1f1f;
    margin-bottom: 3em;
    padding: 10px;
    width: 100vw;
    height: 100px;

    .logo-container {
      display: inline-block;
      text-align: center;
      width: 300px;
      height: 100%;

      &:hover {
       img {
         opacity: 1;
       }   
      }

      img {
        margin: 0;
        max-height: 100%;
        max-width: 100%;
        opacity: 0.5;
        transition: opacity 0.2s ease-out;
      }
    }
  }

  .app-content {
    @media screen and (min-width: 1350px) {
      flex-direction: row;

      .color-picker-container {
        order: 1;
      }

      .infobox {
        order: 2;
      }
    }

    @media screen and (max-width: 600px) {
      padding: 0 20px;
    }

    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    text-align: center;

    > * {
      margin-bottom: 3em;
    }
  }
}
