.color-picker-container {
  border-radius: 100%;
  border: 1px solid white;
  overflow: hidden;
  height: 250px;
  width: 250px;
  position: relative;
}

.color-picker-container canvas {
  position: absolute;
  left: 0;
}
