.core-container {
  overflow: visible;
  width: 200px;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
}

.core .fish {
  transform: scale(1);
  transform-box: fill-box;
  transform-origin: 50% 50%;
  transition: transform 0.2s ease-out;
}

.core .fish:hover {
  cursor: pointer;
  /* transform: scale(1.05); */
}

.core:hover .frequency-container {
  display: block;
}

.fish .frequency-container {
  display: none;
}

.left-fish .frequency-container {
  transform: translate(180px, 110px);
}

.right-fish .frequency-container {
  transform: translate(180px, 370px);
}
