.core-container {
  overflow: visible;
  user-select: none;
  width: 200px;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
}

.core {
  user-select: none;
  transition: transform 0.2s ease-out;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.075);
    }

    &:active {
      transform: scale(1.025);
    }
  }

  @media (hover: none) {
    &:active {
      transform: scale(0.95);
    }
  }

  circle {
    cursor: pointer;
  }

  .fish {
    cursor: pointer;
    transform: scale(1);
    transform-box: fill-box;
    transform-origin: 50% 50%;
    transition: transform 0.2s ease-out;

    -webkit-tap-highlight-color: transparent;

    .frequency-container {
      display: none;
    }
  }
}

.alt-pressed {
  .core {
    &:hover,
    &:active {
      transform: scale(1);

      .fish {
        transform: scale(1);
      }
    }

    .fish {
      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(1.025);
      }
    }
  }
}

.left-fish .frequency-container {
  transform: translate(180px, 110px);
}

.right-fish .frequency-container {
  transform: translate(180px, 370px);
}
