.handle {
  background-color: white;
  border-radius: 100%;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  pointer-events: auto;
  height: 25px;
  width: 25px;
}

.handle-container {
  border-radius: 100%;
  pointer-events: none;
  height: 250px;
  width: 250px;
  position: absolute;
}
